.card-shadow {
  box-shadow: 2px 2px 2px 2px rgba(0.2,0.2,0.2,0.2);
  transition: 0.3s;
  width: 220px;
}

.card-shadow:hover {
  box-shadow: 6px 6px 6px 6px rgba(0,0,0,0.2);
}

.checked {
  color: orange;
}
