<div (click)="emitirLibro()" class="container">
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-around align-self-center " href="#" style="padding-top: 25px; padding-bottom: 25px">
      <div class="card mx-auto card-shadow card-deck  card-clickable">
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51w68M8-8hL._SX295_BO1,204,203,200_.jpg" alt="Cap Book" style="width: 220px; height: 260px" href="#" >
        <div class="card-body">
          <h3 class="card-title">{{libro.nombre}}</h3>
          <p class="card-text">Año: {{libro.anio}}</p>
          <p class="card-text"><app-rating></app-rating></p>
          <a href="#" class="btn btn-primary">Comprar: ${{libro.precio}}</a>
        </div>
      </div>
    </div>
  </div>
</div>






