<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header text-center bg-dark" style="font-weight: bold; color: white">Total a pagar</div>
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-5">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" style="font-weight: bold">Cantidad de items</li>
                  <li class="list-group-item" style="font-weight: bold">Subtotal</li>
                  <li class="list-group-item" style="font-weight: bold">IVA</li>
                  <li class="list-group-item" style="font-weight: bold">TOTAL</li>
                </ul>
              </div>
              <div class="col-5">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item text-center">{{cantidadTotal}} libros</li>
                  <li class="list-group-item text-center">${{precioTotal}}</li>
                  <li class="list-group-item text-center">12 %</li>
                  <li class="list-group-item text-center" style="font-weight: bold">$1200</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row text-center">
      <div class="col" style="padding-top: 20px; padding-bottom: 20px">
        <button class="btn btn-primary">Comprar</button>
      </div>
    </div>
  </div>
</div>


