<div class="container-fluid" >
  <div class="row">
    <div class="col-sm-12 no-padding">
      <app-menu></app-menu>
    </div>
  </div>
  <div class="row justify-content-center">
    <h2>Inicio de sesión</h2>
  </div>
  <div class="row justify-content-center">
    <form class="col-sm-6" #f="ngForm" (submit)="login(f)" novalidate>
      <div class="form-row form-group">
        <label for="username">Usuario</label>
        <input type="text" id="username" class="form-control" placeholder="Ingresa tu nombre de usuario" name="username" ngModel="" required>
        <app-speech-text class="col-sm-1"></app-speech-text>
      </div>
      <div class="form-row form-group">
        <label for="contrasenia">Contraseña</label>
        <input type="password" class="form-control" id="contrasenia" placeholder="Contraseña" name="contrasenia" ngModel="" required>
        <div *ngIf="error" class="error-login">
          {{ error }}
        </div>
      </div>
      <div class="form-row form-group justify-content-center">
        <button type="submit" class="btn btn-primary">Ingresar</button>
      </div>
    </form>
  </div>
</div>
