.no-padding {
  padding: 0;
}
:host{
  padding: 0;
}
.usuario-data {
  padding-right: 1ex;
}


.navbar {
  background: #000011;
}

.nav-item {
  font-size: 2ex;
}

.dropdown-item{
  background: white;
  color: black;
}
.dropdown-item:hover {
  background: #d4d4d4;
}
