<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" routerLink="/home" href="#">
    <img src="assets/icon/icono_app.png" height="50" width="50" alt="">
    Book sales
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/catalogo" href="#">
          <img src="assets/icon/lupa.png" alt="" [height]="30" [width]="30">
          Catálogo
        </a>
      </li>
      <li class="nav-item" *ngIf="!usuario">
        <a class="nav-link" routerLink="/registro" href="#">
          <img src="assets/icon/registro.png" alt="" [height]="30" [width]="30">
          Registro</a>
      </li>
    </ul>
    <ul *ngIf="usuario" class="navbar-nav ml-auto usuario-data">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle menu-user" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{{ usuario.imagenUrl }}" alt="" height="50" width="50" class="img-thumbnail" >
          {{ usuario.nombre }} {{ usuario.apellido }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/cuenta" href="#">
            <img src="assets/icon/usuario.png" alt="" [height]="30" [width]="30">
            Cuenta</a>
          <a class="dropdown-item" routerLink="/carrito">
            <img src="assets/icon/icono_carrito.png" alt="" [height]="30" [width]="30">
            Carrito de compras</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" (click)="logout($event)" >
            <img src="assets/icon/exit.png" alt="" [height]="30" [width]="30">
            Cerrar sesión</a>
        </div>
      </li>
    </ul>
    <ul *ngIf="!usuario" class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/carrito" href="#">
          <img src="assets/icon/carrito_sin.png" alt="" [height]="30" [width]="30">
          Carrito de compras</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" href="#">
          <img src="assets/icon/inicio.png" alt="" [height]="30" [width]="30">
          Iniciar sesión</a>
      </li>
    </ul>
  </div>
</nav>
