<table class="table table-sm text-center">
  <thead>
  <tr>
    <th scope="col">Portada</th>
    <th scope="col">Libro</th>
    <th scope="col">Cantidad</th>
    <th scope="col">Precio Unitario</th>
    <th scope="col">Precio Total</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let detalle of detallesRecibidos; let indice = index;">
    <td>
      <img [src]="detalle.libro.imagenUrl" alt="Portada" class="portada-detalle-pedido">
    </td>
    <td class="texto-detalle-pedido" style="font-weight: bold;">{{detalle.libro?.nombre}}</td>
    <td class="texto-detalle-pedido">
      <input #cantidad (click)="calcularPrecioTotal(cantidad, detalle.libro, indice)" id="cantidadInput" class="text-center estilo-input-cantidad" type="number" name="cantidad" min="0" max="100" step="1" [value]="detalle.cantidad">
    </td>
    <td class="texto-detalle-pedido">$ {{detalle.libro?.precio}}</td>
    <td class="texto-detalle-pedido" style="font-weight: bold"><p [id]="indice">$ {{detalle.precioTotalPorDetalle}}</p></td>
    <td>
      <button (click)="quitarDelCarrito(detalle)" class="btn btn-danger" style="margin-top: 35px">Quitar del Carrito</button>
    </td>
  </tr>
  </tbody>
</table>
