.enlace-izq {
  margin-right: 1ex;
}
.enlace-der {
  margin-left: 1ex;
}
.anchor-white {
  color: white;
}

@media only screen and (max-width: 575px) {
  .enlace-izq {
    margin-right: 0;
  }
  .enlace-der {
    margin-left: 0;
  }
}


* {
  padding-top: 0.5ex;
  color: black;
}

.row {

}
body {
  height: 100%;
}
.container-fluid{
    height: 100%;
}
