<div class="container-fluid">
  <div class="row justify-content-center">
    <h1>Book sales</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <app-carrusel></app-carrusel>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-2 btn btn-primary enlace-izq">
      <a routerLink="/login" class="anchor-white">Iniciar sesión</a>
    </div>
    <div class="col-sm-2 btn btn-primary enlace-der">
      <a href="/catalogo" class="anchor-white">Catálogo</a>
    </div>
  </div>
  <div class="row justify-content-center">
    <h4>¿No tienes una cuenta? Puedes registrarte <a routerLink="/registro">aquí</a> </h4>
  </div>
</div>
